@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000000;
    }

.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 64px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    }

.app-wrapper-content {
    background-color: lightgreen;
    grid-area: c;
    }

